@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Mada&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Mada:wght@400;900&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #121318;
  --secondary-dark-dark: #86003c;
  --secondary-dark: #d1186b;
  --secondary-light: #e41f7b;
  --secondary-light-light: #ee71af;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-dark) var(--secondary-light);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #0f1724;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-light);
  border-radius: 50px;
  border: 3px solid #0f1724;
}
body {
  background: var(--primary);
  font-family: "Roboto", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Mada", sans-serif;
  overflow: auto;
  overflow-x: hidden;
  animation-name: fade;
  animation-duration: 3s;
}
.bio button {
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5px;
  background: var(--primary);
  color: var(--secondary-dark-dark);
  border: 2px dashed #ee71af;
}
.bio button:hover {
  background: #e56a9d;
  color: #0f1724;
}
.madeby {
  color: #e41f7b;
  margin-left: 40%;
}
.copyright {
  color: #ffff;
  margin-left: 40%;
}
.logo {
  margin-left: -40rem;
}
b {
  color: #e41f7b;
}
h5 {
  font-size: 1.3rem;
  color: var(--secondary-light);
}
.main {
  display: flex;
  flex-direction: column;
}
.banner {
  height: 100vh;
  position: relative;
}
.particles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh !important;
}
.myImg {
  width: 300px;
  opacity: 85%;
  margin-left: 222px;
}
.myImg:hover {
  filter: hue-rotate(309deg);
}
.tsparticles-canvas-el {
  height: 100vh !important;
  position: relative !important;
}

.nav-links {
  color: var(--secondary-light);
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 10%;
  justify-content: space-evenly;
  margin-left: 33%;
  margin-top: 2%;
  font-size: 1.4rem;
}
#menu {
  display: none;
}
.nav-links a {
  color: var(--secondary-light);
  text-decoration: none;
  font-weight: 600;
}
.nav-links a:hover {
  cursor: pointer;
  color: var(--secondary-light-light) !important;
  text-decoration: none;
}
.introduction {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 8%;
}
.project {
  justify-content: center;
  align-items: center;
}
.project-details li {
  list-style: square;
}
.bio {
  width: 45%;
}
.iam {
  font-size: 1.5rem;
  color: var(--secondary-light-light);
}
.name {
  font-size: 3.5rem;
  font-family: "Mada";
  font-weight: 600;
  font-size: 5rem;
  color: #fda8b8;
}

.fsd {
  font-size: 1.7rem;
  color: var(--secondary-dark);
}
.intro {
  font-size: 1.5rem;
  color: #e56a9d;
}
#projects,
#home,
#contact-me,
#about-me {
  padding: 3.5rem;
}
.projects,
.about-me-section,
.contact-me {
  display: flex;
  flex-direction: column;
  animation-name: fade;
  animation-duration: 3s;
}
.projects-title,
.contact-me-title,
.about-me-section > header {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--secondary-light);
}

.project,
.about-me-subsection {
  margin: 1rem;
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 2px solid #302d2d70;
  padding: 3%;
  border-radius: 10px;
  animation-name: fade;
  animation-duration: 3s;
}
.project:nth-child(even) {
  flex-direction: row;
}
.project:nth-child(odd) {
  flex-direction: row-reverse;
}
.about-me-subsection {
  border: none;
  padding-left: 0;
}
.project_info {
  width: 60%;
}
.project_info > header {
  font-size: 2rem;
  color: var(--secondary-dark);
}
.stack-used img + img {
  margin-left: 3%;
}
.stack-used img {
  margin-top: 3%;
}
.project-details {
  width: 90%;
  margin-top: 2%;
  color: #ffff;
  opacity: 0.8;
}
.project-video {
  background-image: url("./images/monitor.png");
  background-repeat: no-repeat;
  width: 89%;
  height: 458px;
  position: relative;
}
.project-video > video {
  position: absolute;
  object-fit: cover;
  width: 77%;
  height: 70%;
  left: 68px;
  top: 4%;
}
.website-logo,
.github-logo {
  width: 35px;
  height: 35px;
  margin: 10px;
}
.about-me-info {
  width: 50%;
  color: #ffff;
  opacity: 0.8;
}
.contact-section {
  display: flex;
  flex-direction: row;
}
.contact-me label {
  font-size: 1.5rem;
  color: var(--secondary-light-light);
}
.contact-me {
  width: 63%;
}
.contact-me * {
  margin-top: 1rem;
}
.contact-me input,
.contact-me textarea {
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  background: #ede0e024;
  color: #ffff;
  opacity: 0.8;
  border-radius: 5px;
  font-size: 1rem;
  padding: 4px;
}
.contact-me input:focus {
  outline: 2px solid var(--secondary-light-light);
}
.contact-me textarea {
  height: 200px;
}
.submit-btn {
  padding: 10px;
  border-radius: 15px;
  width: 100px;
  background: var(--secondary-dark) !important;
  color: #ffff !important;
  border: none;
}
.submit-btn:hover {
  background: var(--secondary-light-light) !important;
}
.cta {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta > header {
  font-size: 1.4rem;
  color: var(--secondary-light);
}
.connection-links img {
  width: 50px;
  height: 46px;
  margin: 1.5rem;
}
.contact {
  width: 40px;
  height: 40px;
}
.other-details {
  margin-top: 15rem;
  color: var(--secondary-light);
  font-size: 1.8rem;
  flex-direction: column;
}
.other-details-1,
.other-details-2 {
  display: flex;
  flex-direction: row;
}
.other-details-1 *,
.other-details-2 * {
  margin: 20px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 900px) {
  .introduction {
    flex-direction: column-reverse;
    margin-left: 8%;
  }
  .bio {
    width: 100%;
  }
  .name {
    font-size: 3rem;
  }
  #projects {
    margin-left: 7%;
    width: 100%;
    padding: 0;
  }
  .project {
    width: 100%;
    flex-direction: column;
  }
  .project_info {
    width: 100%;
  }
  .about-me-subsection {
    flex-direction: column;
  }
  .projects-title,
  .contact-me-title,
  .about-me-section > header {
    font-size: 1.7rem;
  }
  .project_info > header {
    font-size: 1.6rem;
  }
  .about-me-info {
    width: 128%;
  }
  .contact-section {
    flex-direction: column;
  }
  .contact-me input,
  .contact-me textarea {
    width: 100%;
  }
  .contact-me {
    width: 100%;
  }
  .contact-me div {
    font-size: 1.3rem;
  }
  .other-details {
    font-size: 1.5rem;
    margin-top: 0;
  }
  .project-video {
    background-image: url("./images/monitor-resp.png");
    background-repeat: no-repeat;
    width: 320px;
    height: 250px;
  }
  .project-video > video {
    left: 33px;
    top: 8px;
    height: 67%;
    width: 80%;
  }
  .project:nth-child(even) {
    flex-direction: column-reverse;
  }
  .project:nth-child(odd) {
    flex-direction: column-reverse;
  }
  #menu {
    display: inline;
    color: var(--secondary-dark);
    position: absolute;
    right: 1rem;
    top: 8px;
    font-size: 2rem;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 80px;
    left: -100%;
    transition: 0.5s all;
  }
  .nav-links > li {
    display: inline-flex;
  }
  .nav-links.active {
    background: rgb(51, 51, 51);
    color: white;
    z-index: 100;
    padding-bottom: 30px;
    top: 7vh;
    width: 100%;
    left: -31%;
    height: 70%;
  }
  .introduction {
    margin-top: 41%;
  }
  .about-me-subsection {
    flex-direction: column-reverse;
  }
  .myImg {
    width: 250px;
    margin-left: 0;
  }
  .logo {
    display: none;
    margin-left: 0;
  }
}
